@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Unbounded:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li {list-style: none;}

a {text-decoration: none;}


:root {
    --primary-color: #2765FF;
    --secondary-color: #A9C1FF;
    --black: #0a0a0a;
    --white: #fff;
    --text-color: #d1d1d1;
}


body {
    /* width: 100%; */
    font-family: 'Raleway', sans-serif;
    height: auto;
    background-color: #f1f1f1;
    display: block;
}



/* --------- Reused Style -------- */
.btn {
    color: #fff;
    width: fit-content;
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 1px;
    border: none;
    padding: 8px 24px;
    cursor: pointer;
}

.section-subtitle {
    font-size: 15px;
    color: var(--secondary-color);
    font-weight: 500;
    text-transform: uppercase;
}

.section-text {color: var(--text-color);}

.btn-primary {
    background: var(--primary-color);
    border: 1px solid transparent;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn-primary:hover {
    background: transparent;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.btn-secondary {
    background: hsla(0, 0%, 100%, 0.5);
    color: #fff;
    border: 1px solid #fff;
}

span {
    color: var(--primary-color);
}

.line {
    width: 15px;
    height: 80px;
    background: #000;
    border-radius: 8px;
}

h5 {
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}







/* --------- Header -------- */
.header {
    position: fixed;
    display: flex;
    /* width: 100%; */
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    /* border-bottom: 2px solid var(--text-color); */
    z-index: 1000;
    transition: 0.5s;
}

.header.sticky {
    background-color: #00000052 ;
    backdrop-filter: blur(10px);
}

.header .container {
    width: 75%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px;
}

.header .logo {
    display: flex;
    gap: 8px;
}

.header .logo-header {
    font-size: 24px;
    color: var(--white);
}

.header .menu ul {
    width: auto;
    /* padding-top: 10px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header .menu li a {
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.header .menu li a:hover {
    color: #d1d1d1;
}






/* --------- Hero -------- */
.hero {
    width: 100%;
}

.hero .container {
    display: flex;
    padding: 0 150px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.521)),  url(img/Hero\ \ Image.png) ;
    background-size: cover;
    background-position: center;
}

.hero .heading {
    /* width: 1000px; */
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
    font-size: 54px;
}

.hero .section-text {
    width: 700px;
    text-align: center;
    margin-top: 20px;
}

.hero .btn {
    margin-top: 30px;
}






/* --------- About -------- */
.about {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
}

.about .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-direction: column;
    padding: 0px 150px 100px 150px;
}

.about .data {
    display: flex;
    width: fit-content;
    gap: 40px;
    margin-top: -80px;
    padding: 30px 40px;
    background-color: var(--white);
}

.about .data .project {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}

.about .data .project h2 {
    font-family: 'unbounded';
    font-size: 28px;
}

.why-us {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.why-us .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    /* margin-right: 20px; */
}

.why-us .top h2 {
    width: 400px;
    font-size: 40px;
    color: var(--white);
    font-weight: 600;
    text-transform: capitalize;
}

.why-us .center {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.why-us .center .box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 400px; */
    height: 300px;
    padding: 20px;
    background-color: #131313 ;
    color: var(--white);
}
.why-us .center .box-1 {
    background-color: var(--primary-color);
}

.about .video {
    width: 100%;
    margin-top: 50px;
    height: 500px;
}

.center .box h1 {
    font-size: 54px;
    font-family: 'unbounded';
    color: var(--text-color);
}

.center .box h4 {
    font-size: 24px;
    font-weight: 500;
}

.center .box p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}






/* --------- Section 3 -------- */
.section-3 {
    position: relative;
    display: flex;
    width: 100%;
}

.section-3 .container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    /* gap: 200px; */
    justify-content: space-between;
    padding: 100px 250px;
}

.section-3 .main-content {
    display: flex;
    width: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    margin-right: 50px;
}

.section-3 .main-content h2 {
    font-size: 40px;
    line-height: 1.5;
    width: 450px;
}

.section-3 .main-content p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    width: 420px;
}

.section-3 .second-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 550px;
    height: 550px;
    /* overflow: hidden; */
}

.section-3 .second-content img {
    object-fit: cover;
    width: 550px;
    height: 550px;
    object-position: 20px;
}

.section-3 .second-content .chart {
    position: absolute;
    display: flex;
    bottom: 0;
    gap: 20px;
    right: -30px;
    width: 300px;
    height: fit-content;
    flex-direction: column;
    color: var(--white);
    background-color: #081433;
    padding: 20px;
    z-index: 100;
}

.second-content .chart h4 {
    font-size: 20px;
    font-weight: 400;
}

.second-content .chart .line-chart-content {
    display: flex;
    justify-content: space-between;
}

.chart .line-chart-content .line-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.line-chart-content .line-chart h4 {
    font-family: 'unbounded';
    font-size: 12px;
    font-weight: 200;
    color: #b4b4b4;
}

.line-chart-content .line-chart .line-1 {
    height: 80px;
    background: #A9C1FF;
}

.line-chart-content .line-chart .line-2 {
    height: 100px;
    background: #A9C1FF;
}

.line-chart-content .line-chart .line-3 {
    height: 70px;
    background: #A9C1FF;
}

.line-chart-content .line-chart .line-4 {
    height: 120px;
    background: #A9C1FF;
}

.line-chart-content .line-chart .line-5 {
    height: 150px;
    background: var(--primary-color);
}






/* --------- Testimonials -------- */
.testimonial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px;
    background: #e6e6e6;
}

.testimonial .container h2 {
    font-size: 40px;
    font-weight: 600;
}

.container .box-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box-card .card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 400px;
    height: 225px;
    background: #f9f9f9;
    padding: 20px;
}

.box-card .card p {
    font-size: 16px;
    color: #696969;
    line-height: 1.4
}

.card .top-content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card .top-content .content-head {
    display: flex;
    flex-direction: column;
    gap: 4px;
}






/* --------- FAQ -------- */
.faq .container {
    display: flex;
    flex-direction: row;
    background: #0a0a0a;
    gap: 100px;
    align-items: center;
    padding: 100px 150px;
}

.faq .main-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.container .image {
    width: 850px;
    height: 620px;
    overflow: hidden;
}

.faq .main-content h2 {
    text-transform: capitalize;
    font-size: 32px;
    color: var(--white);
    font-weight: 600;
}

.accordion {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.accordion .contentbx {
    position: relative;
    background: #1b1b1b;
    transition: all 0.3s ease-in-out;
}

.accordion .contentbx .label {
    padding: 15px ;
    color: var(--white);
    font-size: 18px;
    /* background: #666; */
    font-weight: 500;
}

.accordion .contentbx .content {
    position: relative;
    height: 0;
    color: var(--text-color);
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentbx.active .content {
    height: fit-content;
    padding: 20px;
}






/* --------- CTA -------- */
.cta .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 100px;
    background: var(--primary-color);
}

.container .h2-cta {
    font-size: 44px;
    text-align: center;
    font-weight: 600;
    color: var(--white);
    text-transform: capitalize;
    width: 650px;
}

.container .btn-cta {
    background: var(--black);
    padding: 10px 30px;
    color: var(--white);
    border: none;
    font-size: 16px;
    cursor: pointer;
}






/* --------- Footer -------- */
.footer .container {
    display: flex;
    flex-direction: column;
    padding: 50px 150px 0 150px;
}

.container .top-content-footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid #B3B3B3;
}

.container .top-content-footer .h3-footer {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
}

.container .top-content-footer p {
    font-size: 16px;
    line-height: 1.5;
}

.top-content-footer .title {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top-content-footer .menu {
    display: flex;
    width: fit-content;
    gap: 100px;
}

.top-content-footer .menu .sub-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-content-footer .menu .sub-menu li a {
    font-size: 16px;
    color: #1b1b1b;
}

.top-content-footer .menu .sub-menu .bold {
    font-weight: 600;
}

.container .bottom-content {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 15px 0;
}








/* ---------- Media Query ---------- */

/* ---------- 1440px ---------- */
@media (width < 1440px) {
    .section-3 .container {
        padding: 100px;
    }
}



/* ---------- 1200px ---------- */
@media (width < 1200px) {
    .header .container {
        width: 80%;
    }
    .about .container {
        padding: 100px;
    }

    .section-3 .container {
        gap: 50px;
        padding: 100px;
    }

    .section-3 .container .main-content {
        margin-right: 0;
    }

    .section-3 .container .second-content .chart {
        scale: 0.8;
        bottom: 0;
        right: 0;
    }

    .testimonial .container {
        padding: 100px;
    }

    .testimonial .container .box-card .card {
        width: auto;
    }

    .faq .container {
        padding: 100px;
    }

    .footer .container {
        padding: 50px 100px 0 100px;
    }
}







/* ---------- 1000px ---------- */

@media (max-width: 1000px) {
    .header .container {
        text-align: center;
        padding: 15px 50px;
    }

    .hero .heading {
        font-size: 40px;
        padding: 0 100px;
    }

    .hero .section-text {
        font-size: 14px;
        line-height: 1.6;
        padding: 0 80px;
    }


    /* ---------- About ---------- */
    .about .container {
        padding: 50px 50px;
    }

    .about .container .data {
        padding: 20px 50px;
        /* margin-top: -150px; */
    }
    
    .container .data .project h2 {
        font-size: 24px;
    }

    .container .data .project p {
        font-size: 14px;
    }

    .why-us .top h2 {
        width: 400px;
        font-size: 28px;
    }

    .why-us .center .box {
        overflow: hidden;
        height: 280px;
    }

    .why-us .center .box h1 {
        font-size: 32px;
    }

    .why-us .center .box h4 {
        font-size: 20px;
    }

    .why-us .center .box p {
        font-size: 14px;
    }


    /* ---------- Section 3 ---------- */
    .section-3 .container {
        padding: 100px 50px;
        justify-content: space-between;
    }

    .section-3 .container .main-content {
        /* width: 300px; */
        margin-right: 0;
        flex-wrap: wrap;
        padding-left: 100px;
    }

    .container .main-content h2 { 
        font-size: 32px;
    }

    .container .main-content p {
        font-size: 14px;
    }

    .section-3 .container .second-content {
        /* margin-right: 50px; */
        width: 400px;
        height: 400px;
    }

    .section-3 .container .second-content img {
        width: 400px;
        height: 400px;
    }

    .section-3 .container .second-content .chart {
        scale: 0.8;
        bottom: 0;
    }



    /* ---------- Testimonials ---------- */
    .testimonial .container {
        padding: 100px 50px;
    }

    .testimonial .container h2 {
        font-size: 32px;
    }

    .container .box-card {
        grid-template-columns: repeat(2 , 1fr);
    }




    /* ---------- FAQ ---------- */
    .faq .container {
        padding: 100px 50px;
    }

    .container .image {
        width: 650px;
        height: 450px;
        overflow: hidden;
    }

    .container .main-content h2 {
        font-size: 28px;
    }




    /* ---------- CTA ---------- */
    .cta .container {
        padding: 100px 50px;
    }

    .cta .container .h2-cta {
        font-size: 40px;
        line-height: 1.5;
    }




    /* ---------- Footer ---------- */
    .footer .container {
        padding: 50px 50px 0 50px;
    }

}





/* ---------- 768px ---------- */
@media (max-width: 768px) {


    /* ---------- about ---------- */
    .about .data {
        padding: 15px 20px;
        gap: 0;
    }

    .why-us .center .box {
        height: 310px;
    }

    .why-us .center .box p {
        font-size: 12px;
    }

    .why-us .center .box h4 {
        font-size: 18px;
    }

    .container .video {
        height: 300px;
    }



    /* ---------- Section 3 ---------- */
    .section-3 .container {
        flex-direction: column;
        gap: 40px;
    }

    .section-3 .container .main-content {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }

    .container .main-content h4, 
    .container .main-content h2 {
        width: 100%;
    }

    .container .main-content p {
        width: 100%;
    }

    .section-3 .container .second-content {
        width: 100%;
    }

    .section-3 .container .second-content img {
        width: 100%;
        object-fit: cover;
    }

    .section-3 .container .second-content .chart {
        bottom: 0;
        right: 0;
    }



    /* ---------- Testimonials ---------- */
    .container .box-card .card {
        width: 300px;
    }




    /* ---------- FAQ ---------- */
    .faq .container {
        flex-direction: column;
    }
    
    .container .image {
        width: 100%;
        height: 350px;
        overflow: hidden;
    }
    
    .container .image img {
        width: 100%;
    }
    
    
    
    
    
    /* ---------- CTA ---------- */
    .cta .container .h2-cta {
        font-size: 32px;
    }
}




/* ---------- 490px ---------- */
@media (max-width: 490px) {
    /* ---------- Header ---------- */
    .header .container {
        padding: 15px 20px;
    }
    .header .container .menu {
        display: none;
    }



    /* ---------- Hero ---------- */
    .hero .container {
        padding: 100px 20px;
    }
    .container .heading {
        font-size: 32px;
        padding: 0;
    }

    .container .section-text {
        width: 100%;
    }


    /* ---------- About  ---------- */
    .about .container {
        padding: 100px 20px;
    }

    .container .data {
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }



    /* ---------- Why Us  ---------- */
    .about .container {
        padding: 100px 20px;
    }


    .about .container .why-us {
        width: 100%;
    }

    .about .container .why-us .center {
        flex-direction: column;
    }

    .about .container .why-us .center .box {
        height: 220px;
    }

    .about .container .why-us .center .box p {
        font-size: 14px;
    }

    .about .container .why-us .top h2 {
        font-size: 24px;
    }



    /* ---------- Testimonials  ---------- */
    .testimonial .container {
        padding: 100px 20px;
    }

    .testimonial .container  h2 {
        font-size: 24px;
    }

    .testimonial .container .box-card  {
        grid-template-columns: repeat(1, 1fr);
    }



    /* ---------- FAQ  ---------- */
    .faq .container {
        padding: 80px 20px;
    }

    .faq .container .main-content h2 {
        font-size: 24px;
    }



    /* ---------- CTA  ---------- */
    .cta .container {
        padding: 80px 20px;
    }

    .cta .container .h2-cta {
        font-size: 20px;
        width: 100%;
    }


    /* ---------- Footer  ---------- */
    .footer .container {
        padding: 50px 20px 0 20px;
    }

    .footer .container .top-content-footer {
        flex-direction: column;
        gap: 40px;
        /* width: 100%; */
    }

    .container .top-content-footer .menu {
        flex-direction: column;
        gap: 30px;
    }
}